<!DOCTYPE html>
 <html lang="ja" xmlns:th="http://www.thymeleaf.org">
 <head th:replace="~{layout :: head(アルバム一覧)}"></head>
 <body>
   <div th:replace="~{layout :: header}"></div>
   <h3>アルバム一覧</h3>
    <form method="get" th:action="@{/albums}">
        <input type ="text" name = "keyword" th:value="${keyword}" placeholder="タイトルまたはアーティスト名で検索">
        <select name="sortBy" class="form-control">
            <option value="release_date" th:selected="${param.sortBy?.toString() == 'release_date'}">リリース日</option>
            <option value="title" th:selected="${param.sortBy?.toString() == 'title'}">タイトル</option>
        </select>
        <select name="sortOrder" class="form-control">
            <option value="asc" th:selected="${param.sortOrder?.toString() == 'asc'}">昇順</option>
            <option value="desc" th:selected="${param.sortOrder?.toString() == 'desc'}">降順</option>
        </select>

        //ソートボタンの追加
        <button tpe="submit">検索</button>
    </form>
   <table>
       <thead>
       <tr>
           <th>ID</th>
           <th>タイトル</th>
           <th>アーティスト</th>
           <th>リリース日</th>
           <th></th>
       </tr>
       </thead>
        <tbody>
       <tr th:each="album : ${albums}">
           <td><span th:text="${album.albumId}">album id</span></td>
           <td><a th:href="@{/albums/{albumId}(albumId=${album.albumId})}"><span th:text="${album.title}">album title</span></a></td>
           <td><span th:text="${album.artist}">album artist</span></td>
           <td><span th:text="${album.releaseDate}">album releaseDate</span></td>
           <td>
             <form th:action="@{/albums/{albumId}/edit(albumId=${album.albumId})}" method="get">
                    <button type="submit">編集</button>
                </form>
                <form th:action="@{/albums/{albumId}/delete(albumId=${album.albumId})}" method="post">
                    <button type="submit">削除</button>
                </form>
            </td>
       </tr>
       </tbody>
   </table>
   <div th:replace="~{layout :: footer}"></div>
 </body>
 </html>